# dependencies
node_modules/
**/node_modules/

# env
.env
.env.local
**/.env
**/.env.local

# next.js
frontend/.next/
frontend/out/

# WhatsApp session & cache
backend/.wwebjs_auth/
backend/.wwebjs_cache/
backend/baileys_auth/
backend/uploads/

# misc
*.log
.DS_Store
